<li>
	{{name}}
{{#unless sleepy}}
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleepy}}">
		Devour!
	</button>
{{/unless}}
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
