
body {
    font-family: Arial;
  } 
 
  
.hfive {
  font-weight: 200;
  color: grey;
  display: inline;
  float: right;
  padding: 20px;
  margin-right: 39px;
}

.container {
border-top: 1px solid rgb(165, 165, 165);
border-bottom: 1px solid rgb(165, 165, 165);
border-left: 1px solid rgb(165, 165, 165);
border-right: 1px solid rgb(165, 165, 165);
width: 100%;
margin-top: 100px;
}

.logo {
  width:25%;
  margin-top:20px;
  margin-bottom: 40px;
}

.clearfix {
  overflow: auto;
}

.bkndBoxLeft {
  width: 75%;
  height: 230px;
  background-color: rgb(224, 224, 224);
  display: inline-block;
  padding: 10px;
}

.bkndBoxRight {
  width: 22%;
  height: 230px;
  display: inline;
  padding: 15px;
  float: right;
  border: 3px grey;
  background-color: beige;
  margin-right: 10px;
  
}

.choiceHead {
  font-size: 28px;
  font: Helvetica medium;
  font-weight: 600;
  padding: 30px;
  margin-left: 5px;

}
.bigNumber {
font-size: 85px;
font-weight: 500;
margin-top: 0px;
}